<header class="header">
    <div class="container header_container">
        <div class="header_logo">
            <img src="/img/Logo.svg" alt="">
            <h2 class="header_logo--text">Enver</h2>
        </div>

        <nav class="header_nav">
            <a href="" class="active">Home</a>
            <a href="">Services</a>
            <a href="">Our Project</a>
            <a href="">About Us</a>
        </nav>

        <button class="header_button">Contact us</button>
    </div>
</header>

